@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h5 {
    @apply font-bold text-slate-100 
  }
}

.bar {
  @apply w-[22px] h-[3px] bg-gray-400 mt-[3px]
}

.open .bar:nth-child(2) {
  @apply hidden
}

.open .bar:first-child {
  transform: rotate(45deg) translateX(4px)
}

.open .bar:last-child {
  transform: rotate(-45deg) translateX(4px)
}

.slide-in {
  display: none;
  opacity: 0;
  transform: translateY(-20%);
}

.slide-in.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

#cta {
  background-image: url('./images/bg-boost-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  #cta {
    background-image: url('./images/bg-boost-mobile.svg')
  }
}

.link {
  @apply text-gray-400 hover:text-[#29cec7]
}

.ficon:hover {
  filter: invert(53%) sepia(68%) saturate(434%) hue-rotate(121deg) brightness(101%) contrast(94%)
}